@media screen and (min-width:481px){
  html {
    font-size: 62.5%;
  }
  
  
  
  body {
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lora', serif;
    background-color: rgb(255, 252, 248);
  }
  
  body * {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    margin: auto;
    position: relative;
  }
  
  .header_wrapper {
    width: 100%;
  }
  
  .header_icon {
    position: absolute;
    position: fixed;
    top: 35px;
    left: 50px;
    z-index: 100;
  }
  
  .header_icon img {
    width: 8vw;
    box-shadow: 3px 3px 16px #42424270,
    -3px -3px 16px #42424270;
  }
  
  .header_icon a {
    vertical-align: top;
  }
  
  
  
  #icon-show {
    display: block;
    border: none;
    background: transparent;
    font-size: 4.5rem;
    position: absolute;
    position: fixed;
    top: 35px;
    right: 50px;
    z-index: 100;
    color: rgba(92, 41, 0, 0.822);
  }
  
  #icon-hide {
    display: none;
    border: none;
    background: transparent;
    font-size: 4.5rem;
    position: absolute;
    position: fixed;
    top: 35px;
    right: 50px;
    z-index: 100;
    color: rgb(255, 255, 255);
  }
  
  
  .menu_wrapper {
    width: 100%;
    height: 400px;
    display: none;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgba(58, 58, 58, 0.767);
  }
  
  .menu_list {
    padding-top: 100px;
  }
  
  .menu_wrapper a {
    display: block;
    width: 30%;
    margin: auto;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
    font-size: 2.5rem;
  }
  
  
  .menu_wrapper a:hover {
    color: #97e7ab;
  }
  
  .header_access {
    position: absolute;
    position: fixed;
    top: 450px;
    right: 30px;
    z-index: 100;
  }
  
  .header_access img {
    border-radius: 20px;
    box-shadow: 1px 2px 5px #969696,
    -1px -2px 5px #969696 ;
  }






  .contents {
    width: 100%;
    margin: auto;
  }

  .waist_top {
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    margin-bottom:200px;
  }

  .top_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: auto;
    opacity: 0.3;
  }

  .title_1 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 300px;
    z-index: 80;
    font-size: 4.0vw;
    color: #123a0098;
    text-shadow: 0 0 0.2em rgb(255, 255, 255);
  }




  .about {
    width: 60%;
    margin: auto;
    position: relative;
    margin-bottom: 500px;
  }

  .about_wrap {
    width: 100%;
  }

  .about_img {
    width: 100%;
    position: absolute;
    top: 40px;
    z-index: 0;
    opacity: 0.2;
  }

  .about_title {
    width: 100%;
    text-align: center;
    font-size: 3.5vw;
    color: #2d8f00c2;
    text-shadow: 10px 1px 5px #bbbbbb;
    margin-bottom: 20px;
  }

  .about_summary_01 {
    width: 100%;
    margin: auto;
    font-size:1.5vw;
    color: rgb(54, 0, 0);
    text-align: center;
    text-shadow: 0 0 0.2em rgb(255, 255, 255);
    margin-top: 100px;
  }

  .about_summary_01 p {
    padding-bottom: 10px;
  }





  .after {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 150px;
  }

  .after_title {
    width: 100%;
    text-align: center;
    font-size: 3.5vw;
    color: #2d8f00c2;
    text-shadow: 10px 1px 5px #bbbbbb;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .after_summary {
    width: 100%;
  }

  .after_summary img {
    width: 80%;
  }

  .after_summary img:first-child {
    margin-bottom: 50px;
  } 




  .contact {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 150px;
  }
  
  .contact_wrap {
    width: 100%;
    text-align: center;
  }
  
  .contact_wrap h3 {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 4.0rem;
    margin-bottom: 10px;
    color: rgb(105, 43, 7);
    border-top: solid 1px #9b9b9b;
    padding-top: 100px;
  }
  
  .access_text_wrap {
    width: 100%;
    margin-bottom: 50px;
  }
  
  .contact_wrap p {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
    color: rgba(148, 98, 60, 0.807);
  }
  
  .tel {
    display: block;
    width: 30vw;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #9b9b9b;
    padding: 15px 30px;
    border-radius: 3px;
    font-size: 2.5rem;
  }
  
  .contact_wrap img {
    width: 30%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 1px 2px 5px #000000;
  }
  
  
  
  footer {
    width: 60%;
    margin: auto;
    text-align: center;
    border-top: solid 1px #9b9b9b;
    padding-top: 30px;
    margin-bottom: 100px;
  }
  
  .footer_logo {
    width: 30%;
    margin-bottom: 50px;
  }
  
  .footer_wrapper {
    width: 100%;
  }
  
  .footer_icon_wrap {
    width: 60%;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
  }
  
  .footer_wrapper a {
    width: 30%;
    margin: auto;
    color: rgb(108, 47, 0);
    font-size: 45px;
  }
  
  .access_list {
    width: 100%;
  }

  .access_list p {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
    color: rgb(105, 43, 7);
  }

  .access_space {
    padding-top: 10px;
  }








  /* fadeUp */

.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  
  
  /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
   
  .fadeUpTrigger{
      opacity: 0;
  }



} 














@media screen and (max-width:480px){
  html {
    font-size: 62.5%;
  }
  
  
  
  body {
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lora', serif;
    background-color: rgb(255, 252, 248);
  }
  
  body * {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    height: 200px;
    position: relative;
  }

  .header_wrapper {
    width: 100%;
  }

  .header_icon {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 0;
  }

  .header_icon img {
    width: 25%;
  }

  .header_icon a {
    vertical-align: top;
  }



  #icon-show {
    display: block;
    border: none;
    background: transparent;
    font-size: 35px;
    position: absolute;
    position: fixed;
    top: 50px;
    right: 40px;
    z-index: 100;
    color: rgba(92, 41, 0, 0.822);
  }
  
  #icon-hide {
    display: none;
    border: none;
    background: transparent;
    font-size: 35px;
    position: absolute;
    position: fixed;
    top: 50px;
    right: 40px;
    z-index: 100;
    color: #ffffff;
  }
  
  
  .menu_wrapper {
    width: 100%;
    height: 400px;
    display: none;
    position: fixed;
    z-index: 100;
    background-color: rgba(58, 58, 58, 0.767);
  }

  .menu_list {
    padding-top: 100px;
  }

  .menu_wrapper a {
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
    font-size: 1.5rem;
  }


  .menu_wrapper a:hover {
    color: #97e7ab;
  }

  .header_access {
    position: absolute;
    position: fixed;
    top: 550px;
    right: 30px;
    z-index: 100;
  }

  .header_access img {
    border-radius: 20px;
    box-shadow: 1px 2px 5px #969696,
    -1px -2px 5px #969696 ;
  }







  .contents {
    width: 100%;
    margin: auto;
  }

  .waist_top {
    width: 100%;
    margin: auto;
    position: relative;
    margin-bottom: 200px;
  }

  .top_img {
    width: 100%;
    display: block;
    margin: auto;
    opacity: 0.3;
  }

  .title_1 {
    display: inline;
    position: absolute;
    top: 100px;
    left: 28%;
    z-index: 100;
    font-size: 3.5rem;
    color: #123a0098;
    text-shadow: 0 0 0.2em rgb(255, 255, 255);
  }




  .about {
    width: 100%;
    position: relative;
    margin-bottom: 200px;
  }

  .about_wrap {
    width: 100%;
  }

  .about_img {
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 0;
    opacity: 0.2;
  }

  .about_title {
    width: 100%;
    text-align: center;
    font-size: 2.7rem;
    color: #123a0098;
    text-shadow: 0 0 0.2em rgb(255, 255, 255);
    margin-bottom: 20px;
  }

  .about_summary_01 {
    width: 90%;
    margin: auto;
    font-size: 1.7rem;
    color: rgb(54, 0, 0);
    text-align: center;
    text-shadow: 0 0 0.2em rgb(255, 255, 255);
    margin-top: 100px;
  }

  .space {
    margin-bottom: 5px;
  }





  .after {
    width: 95%;
    margin: auto;
    text-align: center;
    margin-bottom: 200px;
  }

  .after_title {
    width: 100%;
    text-align: center;
    font-size: 3.2rem;
    color: #123a0098;
    text-shadow: 0 0 0.2em rgb(255, 255, 255);
    margin-bottom: 20px;
  }

  .after_summary {
    width: 100%;
  }

  .after_summary img {
    width: 80%;
  }

  .after_summary img:first-child {
    margin-bottom: 50px;
  } 




  .contact {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    border-top: solid 1px #9b9b9b;
    border-bottom: solid 1px #9b9b9b;
    padding-bottom: 100px;
  }

  .contact_wrap {
    width: 100%;
    text-align: center;
  }

  .contact_wrap h3 {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 10px;
    color: rgb(105, 43, 7);
    padding-top: 30px;
  }

  .access_text_wrap {
    width: 100%;
    margin-bottom: 50px;
  }

  .contact_wrap p {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.7rem;
    color: rgba(148, 98, 60, 0.807);
  }

  .tel {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #9b9b9b;
    padding: 15px 30px;
    border-radius: 3px;
    font-size: 18px;
  }

  .contact_wrap img {
    width: 65%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 1px 2px 5px #000000;
  }

  
  footer {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .footer_logo {
    width: 50%;
    margin-bottom: 60px;
  }

  .footer_wrapper {
    width: 100%;
  }

  .footer_icon_wrap {
    width: 60%;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
  }

  .footer_wrapper a {
    width: 30%;
    margin: auto;
    color: rgb(108, 47, 0);
    font-size: 45px;
  }

  .access_list {
    width: 100%;
  }

  .access_list p {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.9rem;
    color: rgb(108, 47, 0);
  }

  .access_space {
    padding-top: 10px;
  }









  /* fadeUp */

.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  
  
  /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
   
  .fadeUpTrigger{
      opacity: 0;
  }



} 